# Telegram
pyrogram==2.0.106
tgcrypto==1.2.5

# Voice Call (NEW)
pytgcalls==3.0.0.dev6
tgcalls==3.0.0.dev6

# Async / Utils
aiofiles
aiohttp
uvloop

# Media
ffmpeg-python
yt-dlp
youtube-search-python
pytube
beautifulsoup4
lyricsgenius
spotipy

# System
psutil
dnspython
speedtest-cli
requests
urllib3

# Database
motor

# Deploy
gitpython
heroku3
python-dotenv
pyyaml

# Web
flask
gunicorn